<div class="group-form">
    <div class="form-content">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
       <div class="form">
        <div class="form-head1">
        <span class="a" style="color: rgb(66, 133, 244)">F</span>
        <span class="a" style="color: rgb(234, 67, 53)">u</span>
        <span class="a" style="color: rgb(251, 188, 5)">n</span>
        <span class="a" style="color: rgb(66, 133, 244)">d</span>
        <span class="a" style="color: rgb(52, 168, 83)">o</span>
        <span class="a" style="color: rgb(234, 67, 53)">o</span>
        </div>
        
        <div class="form-head">Sign in</div>
        <h3 class="form-head2">Use your FundooNote Account</h3>
        <div class="row">
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="username">
                <mat-error>Enter Email Id</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
                <mat-error>Enter Password</mat-error>
              </mat-form-field>
            </p>
          </div>

          <div class="message1">
            <a routerLink="/forgotpassword">Forgot Password? </a>
          </div>

          <div class="message">
            <p>Not your computer? Use Guest mode to sign in privately.</p>
            <p class="message1">Learn more </p>
          </div>

          <div class="btn">
            <a mat-button routerLink="/registration">Create Account</a>
            <button mat-raised-button>Next</button>
          </div>

       </div>
      </form>
    </div>
</div>       
