<div class="main-form">
  <div class="form-content">

    <div class="left-form">
      <div class="form-head1">
        <span class="a" style="color: rgb(66, 133, 244)">F</span>
        <span class="a" style="color: rgb(234, 67, 53)">u</span>
        <span class="a" style="color: rgb(251, 188, 5)">n</span>
        <span class="a" style="color: rgb(66, 133, 244)">d</span>
        <span class="a" style="color: rgb(52, 168, 83)">o</span>
        <span class="a" style="color: rgb(234, 67, 53)">o</span>
      </div>
      <div class="form-head">Create your FundooNotes Account</div>
      <div class="row">
        <p>
          <mat-form-field class="name-form" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name">
          </mat-form-field>
        </p>
      </div>

      <div class="username">
        <p>
          <mat-form-field class="form-cd-rm1" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="UserName">
            <mat-hint>You can use letters, numbers & periods</mat-hint>
          </mat-form-field>
        </p>
      </div>

      <div class="message2">
        <p>Use my current email address instead </p>
      </div>
      <div class="row">
        <p>
          <mat-form-field class="form-cd-rm" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            <mat-hint>
              <p>Use 8 or more characters with a mix of letters, numbers & symbols
            </mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password">
          </mat-form-field>
        </p>
      </div>
      <mat-checkbox class="example-margin"> Show password</mat-checkbox>

      <div class="btn">
        <a mat-button>Sign in instead</a>
        <button mat-raised-button>Next</button>
      </div>

    </div>

    <div class="image-form">
      <img src="../../../assets/account.svg">
      <p>One account. All of Fundoo working for you.</p>
    </div>
  </div>
</div>