.form-content {
    background-color: #ffffff;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 10px;
    margin-top: 10px;
}
.group-form{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
}
.form {
    width: 465px;
    height: 526px;
    padding: 29px;
    padding-right: 7px;
    padding-left: 28px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}
.form-head {
    font: normal normal normal 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 11px;
}

.form-head1 {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 7px;
}
.form-head2{
    text-align: center;
}
.row{
    text-align: center;
    width: 80%;
}
.form-cd-rm{
    width: 425px; 
}
.example-margin {
    margin: 0 12px;
  }
  .btn{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding-left: 357PX;
    button{
        background-color:#1a73e8;
        font-size: 20px;
        width: 65px;
        height: 40px;
        border-radius: 7px;
        border-color: #1a73e8;
        color: #fff;
    }
}