.card {
     
    margin-bottom: 8px;
    display: table-row;
    margin-left: 200px;
  }
 .notesContainer{
   padding: 10px;
   border: 1px lightgray ;
   margin: 10px;
   width: 180px;
 }
 .icons{
   display: flex;
   gap: 4px;
}
.moreicons{
   height: 15px;
   width: 15px;
   padding-top: 6px;
}
.moreicons1{
   height: 20px;
   width: 20px;
   padding-top: 6px;
}
.notesbutton{
   border: none;
   background: none;
   cursor: pointer;
}
.title{
   display: flex;
   justify-content: space-between;
}