<div>
    <div *ngIf="display;then takeNotes else inputNotes"></div>
    <ng-template #takeNotes>
      <div class="takenotes">
        <input class="notesbar" type="text" placeholder="Take a note..." (click)="display = !display">
        <button class="notesbutton">
          <img class="notes_img" src="../../../assets/check_box_FILL0_wght400_GRAD0_opsz48.svg">    
          <img class="notes_img" src="../../../assets/brush_FILL0_wght400_GRAD0_opsz48.svg">
          <img class="notes_img" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg">
        </button>
      </div>
    </ng-template>
    <ng-template #inputNotes>
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="createnotes">
          <div class="notesfield">
  
            <div class="titlebar">
              <input class="title" type="text" placeholder="title"  formControlName="title">
              <button class="notesbutton">
                <img class="notes_img" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg">
              </button>
            </div>
            <input class="description" type="text" placeholder="description" style="font-size: 15px; font-weight: 200;"  formControlName="description">
            <div class="notesicon">
              <div class="icons">
                <button class="notesbutton">
                  <img src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg">
                  <img src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg">
                  <img src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg">
                  <img src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg">
                  <img src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg">
                  <img src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg">
                  <img src="../../../assets/undo_FILL0_wght400_GRAD0_opsz48.svg">
                  <img src="../../../assets/redo_FILL0_wght400_GRAD0_opsz48.svg">
                </button>
              </div>
              <button class="notesclose notesbutton" (ngSubmit)="onSubmit()">Close</button>           
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </div>