<div [style.background]="data.color" style="padding: 10px;">
    <div class="text-Title">
        <mat-card-title><input matInput [(ngModel)]="title" style="width: 400px;border: none;"></mat-card-title>
    </div>
    <div class="text-body">
        <input matInput [(ngModel)]="description" style="width: 400px;border: none;">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between end">
        <div class="icons-menu">
            <app-icons [noteObject]="data" ></app-icons>
        </div>
        <div class="icons-menu">
            <button mat-icon-button (click)="onClose()" style="opacity: 0.9;">
                Close
            </button>
        </div>
    </div>
    </div>