<div class="group-form">
    <div class="form-content">

       <div class="form">
        <div class="form-head1">
        <span class="a" style="color: rgb(66, 133, 244)">F</span>
        <span class="a" style="color: rgb(234, 67, 53)">u</span>
        <span class="a" style="color: rgb(251, 188, 5)">n</span>
        <span class="a" style="color: rgb(66, 133, 244)">d</span>
        <span class="a" style="color: rgb(52, 168, 83)">o</span>
        <span class="a" style="color: rgb(234, 67, 53)">o</span>
        </div>
        
        <div class="form-head">Account Recovery</div>
        <h3 class="form-head2">Enter your recovery email id</h3>
        <div class="row">
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
              </mat-form-field>
            </p>
          </div>
          <div class="btn">
            <button mat-raised-button>Next</button>
          </div>
       </div>
    </div>
</div>       

